<div id="footer" class="footer">
  <div class="footer-section">
    <h4>RENT CARS</h4>

    <ul>
      <li><a href="/search-car">Search Cars and Rates</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>CUSTOMER ACCESS</h4>

    <ul>
      <li><a href="/view-booking-list">Manage My Booking</a></li>

      <li><a href="/view-wallet">My Wallet</a></li>

      <li><a href="/car-owner/mycar">My Car</a></li>

      <li><a href="/login">Log in</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>JOIN US</h4>

    <ul>
      <li><a href="/register">New User Sign Up</a></li>
    </ul>
  </div>
</div>
