<div id="footer" class="footer">
  <div class="footer-section">
    <h4>THUÊ XE</h4>
    <ul>
      <li><a href="/search-car">Tìm kiếm xe và giá</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>TRUY CẬP KHÁCH HÀNG</h4>
    <ul>
      <li><a href="/view-booking-list">Quản lý đặt xe của tôi</a></li>
      <li><a href="/view-wallet">Ví của tôi</a></li>
      <li><a href="/car-owner/mycar">Xe của tôi</a></li>
      <li><a href="/login">Đăng nhập</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>THAM GIA VỚI CHÚNG TÔI</h4>
    <ul>
      <li><a href="/register">Đăng ký người dùng mới</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>LIÊN HỆ</h4>
    <ul>
      <li>
        Địa chỉ: 27 đường xóm đồi trên, Xã Ba Trại, Huyện Ba Vì, Thành phố Hà
        Nội
      </li>
      <li>Số điện thoại: 0334973459</li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>MẠNG XÃ HỘI</h4>
    <ul>
      <li><a href="https://www.facebook.com/leomessi">Facebook</a></li>
      <li><a href="https://www.facebook.com/Cristiano">Twitter</a></li>
      <li><a href="https://www.facebook.com/leomessi">Instagram</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Về chúng tôi</h4>
    <ul>
      <li><a href="/aboutus">Chính sách bảo mật</a></li>
      <li><a href="/aboutus">Điều khoản sử dụng</a></li>
    </ul>
  </div>
</div>
