<app-navbar></app-navbar>

<div class="container">
    <div class="header">
      <img src="/icon/vehicle.png" alt="Car Icon" class="icon" />
      <h1>Thuê xe ngay hôm nay</h1>
    </div>
    <div class="form-container">
      <h2>Đặt lại mật khẩu</h2>
      <p>Hãy thiết lập mật khẩu mới của bạn</p>
      <form (ngSubmit)="onSubmit()">
        <input
          type="password"
          placeholder="Nhập mật khẩu"
          [(ngModel)]="password"
          name="password"
          required
          class="input"
        />
        <!-- <p class="hint">
  
          Sử dụng ít nhất một chữ cái, một số và bảy ký tự
        </p> -->
        <input
          type="password"
          placeholder="Xác nhận mật khẩu"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          class="input"
        />
        <button type="submit" class="button">
          <img
            src="/icon/control-icon.png"
            alt="Lock Icon"
            class="lock-icon"
          />
          Đặt lại
        </button>
      </form>
    </div>
  </div>
  