<div class="banner">
  <div class="banner-left">
    <h2>Bạn đang muốn thuê xe?</h2>
    <h2>Bạn đã đến đúng nơi rồi đó.</h2>
    <br />
    <h4>Chọn giữa 100 xe ô tô riêng cho thuê với giá thấp!</h4>
    <button (click)="onLogin()">Tìm xe cho thuê gần bạn</button>
  </div>
  <div class="banner-right">
    <h2>Bạn có phải chủ sở hữu xe ô tô không?</h2>
    <h2>Bạn muốn kiếm tiền từ chiếc xe của mình chứ?</h2>
    <br />
    <h4>Niêm yết xe của bạn và kiếm tiền từ tài sản của bạn ngay hôm nay!</h4>
    <button (click)="onLogin()">Niêm yết xe của bạn ngay hôm nay</button>
  </div>
</div>
