<div class="search-car-container">
  <div class="search-car-content">
    <div class="search-car-info">
      <h2>Bạn đang tìm xe? Bạn đã đến đúng nơi rồi.</h2>
      <p>
        Chúng tôi có nhiều loại xe do địa phương sở hữu để bạn
lựa chọn. Các gói thuê được tùy chỉnh để phù hợp với nhu cầu của bạn.
      </p>
      <p>
        Với hơn 300 xe trên toàn quốc, chúng tôi sẽ có thứ gì đó dành cho bạn.
      </p>
    </div>

    <div class="search-car-form">
      <h2>Tìm dịch vụ cho thuê xe lý tưởng cho chuyến đi của bạn</h2>
      <!-- thông báo lỗi -->
      <div *ngIf="errorMessage" class="alert alert-warning">
        {{ errorMessage }}
      </div>
      <input
        type="text"
        [(ngModel)]="address"
        placeholder="Nhập địa chỉ"
        class="search-car-input"
      />
      <div class="search-car-datetime">
        <label for="startDateTime">Thời gian nhận xe:</label>
        <input
          type="datetime-local"
          id="startDateTime"
          [(ngModel)]="startDateTime"
          [min]="minDateTime"
          (change)="onStartDateTimeChange()"
          class="search-car-input"
        />
      </div>
      <div class="search-car-datetime">
        <label for="endDateTime">Thời gian trả xe:</label>
        <input
          type="datetime-local"
          id="endDateTime"
          [(ngModel)]="endDateTime"
          [min]="startDateTime || minDateTime"
          (change)="onEndDateTimeChange()"
          class="search-car-input"
        />
      </div>
      <button (click)="handleSearch()" class="search-car-button">Tìm kiếm</button>
    </div>
  </div>
</div>