<div class="container">
  <div class="header">
    <img src="/icon/vehicle.png" alt="Car Icon" class="icon" />
    <h1>Thuê xe ngay hôm nay</h1>
  </div>

  <div class="form-container">
    <!-- phần tiêu đề và chú giải -->
    <h2>Đặt lại mật khẩu</h2>
    <p>
      Nhập địa chỉ email liên kết với tài khoản của bạn, và chúng tôi sẽ gửi
      cho bạn một liên kết đến email đó để đặt lại mật khẩu.
    </p>

    <!-- form -->
    <form (ngSubmit)="onSubmit()">
      <input
        type="email"
        placeholder="Địa chỉ email của bạn"
        [(ngModel)]="email"
        name="email"
        required
        class="input"
      />
      <button type="submit" class="button">
        <img
          src="/icon/control-icon.png"
          alt="Lock Icon"
          class="lock-icon"
        />
        Xác nhận
      </button>
    </form>
  </div>
</div>
