<section id="people-say" class="section-wrapper people-say">
  <h2 class="section-title">Mọi người nói gì về chúng tôi</h2>
  <div class="people-say__grid">
    <div class="people-say__card" *ngFor="let item of feedbackData">
      <img class="people-say__avatar" src="https://i.pravatar.cc/100?u={{item.UserName}}" alt="Avatar" />
      <div class="people-say__info">
        <h4>{{ item.UserName }}</h4>
        <p>{{ item.FeedbackContent }}</p>
        <p class="people-say__rating">★ {{ item.Rating }}/5</p>
        <p class="people-say__date">{{ item.Date | date:'medium' }}</p>
      </div>
    </div>
  </div>
</section>
